@media all and (max-width: 568px)  {
    .content_more {
        flex-direction: column !important;
    }
    .content_more .btn {
        display:none !important;
    }
    .tittle_section.effect_tittle_section {
        height: 20vh !important;
    }
    .tittle_section .content_more .text p {
        font-size: .8rem !important;
        width: 50% !important;
    }
    #contentTargetToMove {
        bottom: -10vh !important; /* //mar/pad 10 on parrent */
    }
}

#contentTargetToMove {
 
    
    position:fixed;
    z-index: 2;
    width: 100%;
    height: fit-content;
    bottom: calc(100vh - 72vh); 
    left: 0;

    will-change: tranform;
}

#view100vh_relative {
    position:relative;
    width:100%;
    height:72vh;
 
}