@media all and (max-width: 568px)  {
    .content_more {
        flex-direction: column !important;
    }
    .content_more .btn {
        display:none !important;
    }
    .tittle_section.effect_tittle_section {
        height: 20vh !important;
    }
    .tittle_section .content_more .text p {
        font-size: .8rem !important;
        width: 50% !important;
    }
}

#contentTargetToMove {
    z-index:2;
    will-change:tranform;
    position:relative;
}