:root {


    --style-grid-col:repeat(12, 1fr);
    --gapDes : 10px;
    --grid-margin-des: 50px;
    --grid-margin-des_clone_forwine: var(--grid-margin-des);
    --grid-margin-des_clone_forstone: var(--grid-margin-des);
    --col_width: calc(calc(calc(100vw - calc(var(--grid-margin-des) * 2)) - calc(var(--gapDes) * 11)) / 12);

    --width-container-des-withgrid: calc(100% - calc(var(--grid-margin-des) * 2));
    --gray: #868686;
    --gray-slim : #86868617;
    --white: #fffcf5;
    --black: #252324;
    --fz1: 7rem;
    --fz2: 3rem;
    --fz3: 2rem;
    --fzdf: 1rem;
    --fz1_5 : 1.5rem;
    --fz4-notset: 4rem;
    --fz5-notset: 5rem;
    --fz6-notset: 6rem;

    --paddingall_eachsection: calc(var(--col_width)) 0;
    --paddingonly_eachsection: calc(var(--col_width));

    --border-style-dark: 0.1px solid var(--white);
    --border-style-light: 0.1px solid var(--black);
    /* for large head need aqua with around el near */
    --fs1_aqua : calc(7rem / -5.5);
    --fs3_aqua : calc(2rem / -5.7);
    --fz4-notset_aqua: calc(4rem / -5.5);
    --fz5-notset_aqua: calc(5rem / -5.5);
    --fz6-notset_aqua: calc(6rem / -5.5);

    /* index */
    --navbarIndex: 9999;


    /* line effect */
    --line-effect-p : calc(var(--fzdf) / -10);




    /* section fix vh */
    --navbarHeight : 12vh;

}




body * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

html {
    /* font-size: 16px; */
    /* df: 15px +  0.390625vw */
    font-size: calc(10px + 0.390625vw);
    
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: system-ui;
   /*  font-family: "Helvetica Neue Autex", "Helvetica", "Roboto", "Arial", sans-serif; */
    background-color: var(--white);

    user-select: none;
}

a,
button {
    position: relative;
    cursor: pointer;

    width: fit-content;
    

}

p,
button,
a {

}

h1 {
   
}

h2 {
    
}

h3 {
   
}
p {
    margin:0;
    padding:0;
    line-height: 120%;
}
h1,h2,h3,h4,.tag p  {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4 {
    line-height: 100%;
    
}

.light-background {
    background-color: var(--white);
}

.light-background p,
.light-background a,
.light-background button {
    color: var(--black);
}
.light-background .border-betweem-section {
    background-color: #25232440;
}
.light-background .list-button button {
    color: var(--dark);
    background-color: var(--white);
    border-color: var(--gray);
}
.light-background .a-button-italic-underlineEffect::before {
    background-color: var(--black);
}
.light-background .underline-effect-styles {
    background-color: var(--black);
}
.dark-background .underline-effect-styles {
    background-color: var(--white);
}
.dark-background .a-button-italic-underlineEffect::before {
    background-color: var(--white);
}
.dark-background .note p{
    color:var(--white);
}
.dark-background .list-button button {
    color: var(--white);
    background-color: var(--dark);
    
    border-color: var(--white);
}
.dark-background .border-betweem-section {
    background-color: var(--gray-slim);
}

.dark-background {
    background-color: var(--black);
}

.dark-background p,
.dark-background a,
.dark-background h1,
.dark-background h2,
.dark-background h3 {
    color: var(--white);
}



/* trash */
.hoho {
    position: relative;
    width:100%;
    height:100vh;
}

.hoho  .layer {
    position: absolute;
    width:100%;
    height:100%;
    background:url('/hero-bg.png');
    background-position: center;
    clip-path: polygon(0 0, 83% 0, 83% 100%, 0% 100%);
}

.this_pick .underline-effect-styles {
    left: 0%!important;
    width: 100% !important;
}