.form-contact-section {
    position: relative;
    height:50vh;
    width: 100vw;
    z-index: var(--baseIndex);
}
.absolute-content-onhero .split-eff-text,.list-products-section_2 .split-eff-text  {
    color:var(--white) !important;
}
.form-contact-section .split-eff-background {
    background-color: var(--white);
}
.form-contact-section .button-styled-effect,.list-products-section_2 .button-styled-effect  {
    background:var(--backgroundNavbarSrcFlip) !important;
}
.form-contact-section .background {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

}
.form-contact-section .background .fillter {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: linear-gradient(104.01deg, #28302C 50.18%, rgba(51, 49, 50, 0) 168.55%);
    z-index:5;
}
.form-contact-section .content  {
    position: relative;
    width: 100%;
    height: 100%;
    z-index:10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: var(--grid-margin-des);

}
.form-contact-section .content .top,
.form-contact-section .content .bot {
    height:fit-content;
}
.form-contact-section .content .bot {
    align-items:end;
}
.form-contact-section .content .text {
    grid-column-start: 1;
    grid-column-end: 7;

    font-size: var(--fz2);
    color: var(--white);
    width:100%;
    height: fit-content;
}
.form-contact-section .content .input {
    grid-column-start: 6;
    grid-column-end: 10;

    width:100%;
    height: fit-content;
}

input {
    color: #ffffff;
}
.form-contact-section .content .submit {
    grid-column-start: 10;
    grid-column-end: 13;

    width:100%;
    height: fit-content;
}


/* set to main */

.input-style-hover {
    width:100%;

    height:var(--heightButton);
    border-width:1px;
    border-color: var(--white);
    border-radius: 50px;
    outline: none;
    background-color: transparent;
    padding:0 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.input-style-hover::placeholder {
    color:var(--gray);
    
}