.layout-list-stone {
   height: fit-content;
   padding: 50px 0 150px 0;
}

.layout-list-stone .image {
    grid-column-start: 2;
    grid-column-end: 7;

    width: 100%;
    height:auto;
   
 
    position: relative;

}
#LIST_SLIDER_STONE_PRODUCTS ul.img_parent .active,#LIST_SLIDER_STONE_PRODUCTS ul.img_child  .active {
    opacity: 1;
    z-index: 9;
}
#LIST_SLIDER_STONE_PRODUCTS ul.img_parent {
    position: relative;
   list-style-type: none;
   margin:0;
   padding:0;
   width:100%;
   height:100%;
   z-index:  1;
}


#LIST_SLIDER_STONE_PRODUCTS ul.img_parent li,
#LIST_SLIDER_STONE_PRODUCTS ul.img_child li  {
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height:100%;

}
#LIST_SLIDER_STONE_PRODUCTS ul.img_parent li img,
#LIST_SLIDER_STONE_PRODUCTS ul.img_child li img {
    width: inherit;
    height: inherit;
}
#LIST_SLIDER_STONE_PRODUCTS ul.img_child  {
    z-index: 2;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: calc(calc(var(--col_width)* 4) + calc(var(--gapDes)* 3));
    left: calc(calc(var(--col_width)* -1) + calc(var(--gapDes)* -1));
    top: calc(calc(var(--col_width)* 2) + calc(var(--gapDes)* 1));
    height: calc(var(--col_width)* 2.5);
    overflow: hidden;
}
#LIST_SLIDER_STONE_PRODUCTS ul.img_parent li img {
    width: 100%;
    height: 100%;
}


.layout-list-stone .detail {
    grid-column-start: 8;
    grid-column-end: 13;

    grid-row: 1;

    display: flex;
    justify-content: space-between;
}

.layout-list-stone .detail .top ul {
    list-style-type: none;
    padding:0;
}
.layout-list-stone .detail .top li {
    
}
.layout-list-stone .detail .top a {
    margin-left:var(--fzdf);
}
.layout-list-stone .detail .bot {
    margin-bottom:var(--fz4-notset_aqua);

    height: 50vh;
}
#DETAIL_ITEM_SLIDER_STONE_PRODUCTS .active {
    opacity: 1;
    z-index: 5;
}
.layout-list-stone .detail .bot ul {
    list-style-type: none;
    padding:0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.layout-list-stone .detail .bot ul li {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    opacity: 0;
    display: flex;
    align-items: end;
}
.layout-list-stone .detail .bot ul li > div {
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.layout-list-stone .detail .bot ul li h3 {
    font-size: var(--fz4-notset);

}

.layout-list-stone .row2 .detail {
    grid-column-start: 9;
    grid-column-end: 12;
}
.layout-list-stone .detail .bot h3 {
    font-size: var(--fz4-notset);
}
.layout-list-stone .detail .bot p {
    margin-bottom: 50px;
    margin-top: 1rem;
    max-width: 75%;
}
.layout-list-stone .row2 .note {
    grid-column-start: 4;
    grid-column-end: 8;

    justify-content: flex-start;
    flex-direction: row-reverse;
}

.layout-list-stone .row2 .note p {
    margin-right:calc(var(--fzdf) / 2);
}