/* WINE SECTION */
.layout-list-wine .row2 .detail .top a:hover + span,
.layout-list-stone .detail .top a:hover + span{
  
}

.layout-list-wine .row2 .detail .top ul li:hover span  {

}

.layout-list-wine {
   /*  padding: 5vw 0 1vw 0; */
}
.list-products-section {
    position:relative;
}
.list-products-section_1 {
    padding: 12rem 0 4rem 0;
}
.list-products-section_1 .tittle {
    grid-column-start: 1;
    grid-column-end: 11;

    position:relative;
    width:fit-content;
}
.list-products-section_1 .tittle h2 {
    font-size:var(--fz1);
    margin-top:var(--fs1_aqua);
}
.list-products-section_1 .tittle span {
    position:absolute;
    top:0;
    right:0;
    transform: translateX(100%);
}
.list-products-section_1 .btn-more a {
    display:block;
    float:right;
    
}
.list-products-section_1 .btn-more {
    grid-column-start: 12;
    grid-column-end: 13;
}

.list-products-section_2 {
    position:relative;
    overflow: hidden;
    padding-bottom: 50px;
/*    padding-bottom: var(--navbarHeight); */

}
.wine-list .box {
 /*    grid-column-start: 1;
    grid-column-end: 12; */

    position: relative;
    aspect-ratio: 16/6;
    width:100%;
    height:72vh;
   
    overflow: hidden;
    background:url('/list-wine.jpg');
    background-size: 100%;
    transform-origin: center center;
    background-position: 0px -300px;
}
.stone-list .box {
    
    position: relative;
    aspect-ratio: 16/6;
    width:100%;
    height:72vh;
   
    overflow: hidden;
    background:url('/stone/banner-stone.webp');
    background-size: 100%;
    transform-origin: center center;
    background-position: 0px -150px;
}
.wine-list:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:var(--grid-margin-des_clone_forwine);
    height:72vh;
    overflow:hidden;
    background:var(--black);
    z-index:2;
    will-change: transform;
}
.stone-list::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:var(--grid-margin-des_clone_forstone);
    height:72vh;
    overflow:hidden;
    background:var(--white);
    z-index:2;
    will-change: transform;
}
.wine-list::after {
    content:"";
    position:absolute;
    top:0;
    right:0;
    width:var(--grid-margin-des_clone_forwine);
    height:72vh;
    overflow:hidden;
    background:var(--black);
    z-index:2;
    will-change: transform;
}
.stone-list::after {
    content:"";
    position:absolute;
    top:0;
    right:0;
    width:var(--grid-margin-des_clone_forstone);
    height:72vh;
    overflow:hidden;
    background:var(--white);
    z-index:2;
    will-change: transform;
}
.list-products-section_2 img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    object-position: center;
}

.list-products-section_2 .box .content {
    display: flex;
    height: 100%;
    align-items: self-end;
       padding-bottom: 50px;
}
.list-products-section_2 .box .content > div > .text {
    grid-column-start: 1;
    grid-column-end: 4;
}
.list-products-section_2 .box .content > div > .btn {
    grid-column-start: 11;
    grid-column-end: 13;

    display: flex;
    align-items: flex-end;
}
.list-products-section_2 .box .content > div p {
    font-size:var(--fz3);
    opacity: 0;
}

.list-products-section_3 {
    height: fit-content;
/*     height: 100vh;
    overflow: hidden; */
    /* padding-top: calc(var(--navbarHeight) / 2); */
    /* padding-top: calc(var(--paddingonly_eachsection)); */
    padding-bottom: calc(var(--paddingonly_eachsection) / 2);
}
.list-products-section_3_content {
    padding: var(--fz2) 0px 0px 0px;
}
.list-products-section_3_content .tag {
    grid-column-start: 1;
    grid-column-end: 4;

}

.list-products-section_3_content .list-wine {
    grid-column-start: 4;
    grid-column-end: 7;

}
.list-products-section_3_content .view-more {
    grid-column-start: 12;
    grid-column-end: 13;

    text-align: right;
}
.list-products-section_3_content .list-wine h3 {
    font-size: var(--fz3);
}


/* 
LAYOUT WINE SECTION
*/
.layout-list-wine .row1 .detail-willhidden {
    grid-column-start: 4;
    grid-column-end: 7;

    padding: var(--fz2) 0;
}
.layout-list-wine .row2 {
    height: calc(calc(var(--col_width) * 3) + calc(var(--gapDes) * 2));
}

.layout-list-wine .row2 .image {
    grid-column-start: 4;
    grid-column-end: 7;

    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
}





/* END */
.layout-list-wine .row2 .detail {
    grid-column-start: 8;
    grid-column-end: 13;

    position: relative;
}
.layout-list-wine .row2 .detail .top span {
    color:var(--white);
}
.layout-list-wine .row2 .detail .top ul {
    list-style-type: none;
    padding:0;
}
.layout-list-wine .row2 .detail .top li {
    
}
.layout-list-wine .row2 .detail .top a {
    margin-left:calc(var(--fzdf) / 2);
    font-size: var(--fzdf) !important;
}
.layout-list-wine .row2 .detail .bot {


    position: relative;
    height:fit-content;
    width:100%;
    margin-bottom: -.35rem;
    margin-left: -.35rem;
}
.layout-list-wine .row2 .detail .bot > h3 {
    opacity: 0;
}
.layout-list-wine .row2 .detail .bot h3 {
    font-size: var(--fz4-notset);
 
}

.layout-list-wine .row3 {
    padding-top: 20px;
    padding-bottom: 50px;
}
.layout-list-wine .row3 .detail {
    grid-column-start: 8;
    grid-column-end: 12;

}
.layout-list-wine .row3 .detail p {

    margin-bottom:100px;
}
.layout-list-wine .row3 .note {
    grid-column-start: 4;
    grid-column-end: 7;

    flex-direction: column;
    display: flex;
    height: fit-content;
    align-items: flex-end;
}

.layout-list-wine .row3 .note p {
    margin-right:calc(var(--fzdf) / 2);
}



#LIST_SLIDER_PRODUCTS {

}
#LIST_SLIDER_PRODUCTS .active {
    left:0;
}
#ITEM_NAME_SLIDER_PRODUCTS .active {
    top:0;
}
#MENU_SLIDER_PRODUCTS .active {
    font-weight: bold;
}
#DETAIL_ITEM_SLIDER_PRODUCTS .active {
    opacity: 1;
    pointer-events: all;
}
#LIST_SLIDER_PRODUCTS ul {
    list-style-type:none !important;
    margin:0;
    padding:0;

}
#DETAIL_ITEM_SLIDER_PRODUCTS ul {
    height:35vh;
}
#DETAIL_ITEM_SLIDER_PRODUCTS ul,
#LIST_SLIDER_PRODUCTS ul,
#ITEM_NAME_SLIDER_PRODUCTS  ul {
    position:relative;
    overflow:hidden;
    margin:0;
    padding:0;
}

#LIST_SLIDER_PRODUCTS ul,
#LIST_SLIDER_PRODUCTS ul li{
    width:100%;
    height:100%;
}
#DETAIL_ITEM_SLIDER_PRODUCTS ul li {
    position: absolute;
    top:0;
    left:0;
    width:fit-content;
    height:fit-content;
    pointer-events: none;
    opacity: 0;
    background:var(--black);
}
#ITEM_NAME_SLIDER_PRODUCTS ul{
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
#ITEM_NAME_SLIDER_PRODUCTS ul li {
    position: absolute;
    width:100%;
    height:100%;
    top:-100%;
    left:0;

    background-color: var(--black);
}
#ITEM_NAME_SLIDER_PRODUCTS ul li div {
    position: relative;
  
}
#LIST_SLIDER_PRODUCTS ul li {
    position: absolute;
    top: 0;
    left: -100%;
   
    background-size: cover;
    background-position: center;
    background-color: var(--white);
    background-size: 86%;
    background-repeat: no-repeat;
}

#LIST_SLIDER_PRODUCTS ul li:first-of-type {
    background-image: url("/brand_wine/pettavel.png")
}

#LIST_SLIDER_PRODUCTS ul li:nth-of-type(2) {
    background-image: url("/brand_wine/dominic.png")
}

#LIST_SLIDER_PRODUCTS ul li:nth-of-type(3) {
    background-image: url("/brand_wine/Paxton.png")
}

#LIST_SLIDER_PRODUCTS ul li:nth-of-type(4) {
    background-image: url("/brand_wine/berton-vineyard.png")
}

#LIST_SLIDER_PRODUCTS ul li:nth-of-type(5) {
    background-image: url("/brand_wine/organic-wine.png")
}

#LIST_SLIDER_PRODUCTS ul li:last-of-type {
    background-image: url("/brand_wine/ulupna.png")
}