.navbar {
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
 
    height: fit-content;
    justify-content: space-between;
    z-index:var(--navbarIndex);
}
.navbar-list-item {
    /* padding-top: calc(var(--grid-margin-des)/2);
    padding-bottom: calc(var(--grid-margin-des)/2); */
    height:var(--navbarHeight);
    
}
.navbar .navbar-bg-light {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(rgb(255, 252, 245) 0%, rgba(255, 252, 245, 0.99) 8.1%, rgba(255, 252, 245, 0.953) 15.5%, rgba(255, 252, 245, 0.894) 22.5%, rgba(255, 252, 245, 0.824) 29%, rgba(255, 252, 245, 0.74) 35.3%, rgba(255, 252, 245, 0.647) 41.2%, rgba(255, 252, 245, 0.55) 47.1%, rgba(255, 252, 245, 0.45) 52.9%, rgba(255, 252, 245, 0.353) 58.8%, rgba(255, 252, 245, 0.26) 64.7%, rgba(255, 252, 245, 0.176) 71%, rgba(255, 252, 245, 0.106) 77.5%, rgba(255, 252, 245, 0.047) 84.5%, rgba(255, 252, 245, 0.01) 91.9%, rgba(255, 252, 245, 0) 100%);
}
.navbar .navbar-bg-dark {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(rgba(37, 35, 36, 1) 0%, rgba(37, 35, 36, 0.987) 8.1%, rgba(37, 35, 36, 0.951) 15.5%, rgba(37, 35, 36, 0.896) 22.5%, rgba(37, 35, 36, 0.825) 29%, rgba(37, 35, 36, 0.741) 35.3%, rgba(37, 35, 36, 0.648) 41.2%, rgba(37, 35, 36, 0.55) 47.1%, rgba(37, 35, 36, 0.45) 52.9%, rgba(37, 35, 36, 0.352) 58.8%, rgba(37, 35, 36, 0.259) 64.7%, rgba(37, 35, 36, 0.175) 71%, rgba(37, 35, 36, 0.104) 77.5%, rgba(37, 35, 36, 0.049) 84.5%, rgba(37, 35, 36, 0.013) 91.9%, rgba(37, 35, 36, 0) 100%);
}
.navbar .logo {
    grid-column-start: 1;
    grid-column-end: 3;

    display: flex;
    position: relative;
}
.navbar .logo img {
    width: 142px;
    height: auto;
    object-fit: contain;
}
.navbar .menuItem1 {
    grid-column-start: 4;
    grid-column-end: 7;

    
}
.navbar .menuItem2 {
    grid-column-start: 12;
    grid-column-end: 13;
    justify-content: flex-end;
}
.navbar .menuItem1, .navbar .menuItem2 {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}

.navbar .menuItem1 a {
    position: relative;

    margin-right:var(--fz2);
    align-self: center;
   
}
.navbar .menuItem2 a {
    position: relative;
    align-self: center;
}
.navbar .menuItem1 a, .navbar .menuItem2 a {

    position: relative;
    font-size: var(--fzdf);

    color:var(--white);
}
