@media  screen and (max-width: 1440px){
    h1 {
        /* font-size:72px !important; */
    }
    h2 {
       /*  font-size: 32px !important; */
    }
    p{
        /* font-size: 1rem !important; */
    }
  
}
@media all and (max-width: 1440px) and (min-width: 1024px) {
    .detail-hero--group-button {
        grid-column-start: 11 !important;
    }
}
  
@media all and (max-width: 1024px) {  
    /* NAVBAR */
    .navbar_mobi {
        display: block !important;
    }
    .navbar_mobi_controls {
        display:flex !important;
    }
    .navbar {
        display:none !important;
    }

    main {
/*         opacity: 0 !important; */
    }
    :root {  
        --grid-margin-des: 30px ;
     /*    --grid-margin-des: 20px; */
    }
    /* background fixed */
    .for_section_title_projects {
        background-position-x: 50% !important;
        background-size: auto 110% !important;
    }
    .hero-background div:nth-child(2),
    .for_section_stone_aboutus {
        background-size: auto 110% !important;
    }
    /* welcome-section */
    .welcome-section_content_1 {
        display:none !important;
    }
    .welcome-section_content_2>div>.tag,
    .welcome-section_content_3>div>.tag {
       grid-column-start: 1!important;
        grid-column-end: 4!important;
    }
    .welcome-section_content_4>div>div:nth-child(1) {
        grid-column-start: 2!important;
        grid-column-end: 5!important;
    }
    .welcome-section_content_4>div>div:nth-child(2) {
        grid-column-start: 6!important;
        grid-column-end: 9!important;
    }
    .welcome-section_content_4>div>div:nth-child(3) {
        grid-column-start: 10!important;
        grid-column-end: 13!important;
    }
    .welcome-section_content_2>div>.text {
        grid-column-start: 6!important;
    }

    /* wine and stone section  */
    .list-products-section_1 .tittle h2 {
        font-size:5rem !important;
    }
    /* wine section */

    .wine-list .box,.stone-list .box {
        height:42vh !important;
    }
    .list-products-section_2 .box .content > div > .btn {
        display: none !important;
        grid-column-start: 10 !important;
    }
    .layout-list-wine .row1 .detail-willhidden {
        grid-column-end: 8 !important;
    }
    .layout-list-wine .row3 .detail {
        grid-column-end: 12 !important;
    }
    /* stone section */
    .list-products-section_3_content .list-wine {
        grid-row:2 !important;
        grid-column-start : 1 !important;
        grid-column-end: 11 !important;
    }
    .layout-list-stone .detail .bot {
        height: 420px!important;
    }
    .layout-list-stone .detail .bot p {
        max-width: 86% !important;
    }
    /* form contact section */
    .form-contact-section .content .text {
        grid-column-end: 9 !important;
    }
    /* footer */
    .footer .footer-content {
        margin: calc(var(--grid-margin-des) * 2) auto var(--grid-margin-des) auto !important;
    }


    /* natural PAGE */
    .tittle_section .content {
        width:80% !important;
    }
    #content_after-tittle_section .content .des {
        grid-column-end: 9 !important;
    }
    /* products PAGE */
    #detail_product .slider-img .img_large {
        height:42vh !important;
    }
    #detail_product .slider-img,
    #detail_product .info-product {
        grid-column-start: 1 !important;
        grid-column-end: 13 !important;
    }
    #detail_product .slider-img {
        grid-row:1 !important;
    }
    #detail_product .info-product {
        grid-row:2 !important;
        padding-top:150px !important;
    }
    /* more-products section */
    #more-product .item-product {
        aspect-ratio: unset !important;
        height:30vh !important;
    }
    #more-product .more1,
    #more-product .more2,
    #more-product .more3 {
        grid-column-start: 1 !important;
        grid-column-end: 13 !important;
    }
    #more-product .tag {
        grid-column-start: 1 !important;
        grid-column-end: 8 !important;
        grid-row: 1 !important;
    }
    #more-product .more1{
        grid-row: 2 !important;
    }
    #more-product .more2{
        grid-row: 3 !important;
    }
    #more-product .more3{
        grid-row: 4 !important;
    }
    #more-product .more1 img {
        width:100% !important;
        height: auto !important;
    }
    
}

@media all and (max-width: 868px)  {
    :root {  
        --grid-margin-des: 20px !important ;
    }
    .tittle_section {
        height:36vh !important;
    }
    .layout-list-stone .detail .top > span {
        padding: 2rem 0 10px 0!important;
    }
    .wine-list .box,.stone-list .box {
        height:60vh !important;
    }
    .input-style-hover,.button-styled-effect {
        height:40px !important;
    }
    .navbar_mobi_view a {
        font-size: 2rem !important;
    }
    .footer-content_1 .menu {
        padding: 50px 0 !important;
    }
    .welcome-section_content_2>div>.tag, .welcome-section_content_3>div>.tag {
        grid-column-end : 12 !important;
        grid-row:1 !important;
        padding: 50px 0 !important;
      
    }
    .list-products-section_1 .tittle h2 {
        margin-top: -20px !important;
    }
    .tag ,
    .list-products-section_3_content .view-more a{
        font-size:10px !important;
        color:var(--gray) !important;
       
    }
    .list-products-section_3_content .view-more a {
        margin-top: -4px !important;
        display: block;
        float: right;
    }
    .welcome-section_content_2>div>.text {
        grid-column-start : 1 !important;
        grid-column-end : 12 !important;
        grid-row:2 !important;
    }
    .welcome-section_content_4>div>div:nth-child(n) {
        grid-column-start : 1 !important;
        grid-column-end : 12 !important;
    }
    .welcome-section_content_4>div>div:nth-child(1) {
        grid-row: 1 !important;
    }
    .welcome-section_content_4>div>div:nth-child(2) {
        grid-row: 2 !important;
    }
    .welcome-section_content_4>div>div:nth-child(3) {
        grid-row: 3 !important;
    }
    #more-product .tag {
        grid-column-start : 1 !important;
        grid-column-end : 13 !important;
    }
    .list-products-section_1 {
        padding: 7rem 0 2rem 0 !important;
    }
    .list-products-section_1 .tittle h2 {
        font-size: 2.5rem !important;
    }
    .list-products-section_2 .box .content > div > .btn {
        grid-column-start: 6 !important;
    }
    .list-products-section_3_content {
        padding: var(--fz2) 0px 20px 0px !important;
    }
    .list-products-section_3_content .tag {
        grid-column-end : 8 !important;
    }
    .list-products-section_3_content .view-more {
        grid-column-start : 9 !important;
    }
    .list-products-section_1 .tittle h2 {
        padding: 20px 0 0 0 !important;
    }
    .layout-list-wine .row2 .detail .bot {
        padding: 50px 0 !important;
    }
    #ITEM_NAME_SLIDER_PRODUCTS ul li {
        display: flex;
    align-items: center;
    }
    .list-products-section_3_content .list-wine h3 {
        font-size:1.7rem !important;
    }
    .layout-list-wine .row2 .detail .bot h3 {
        font-size: 3.5rem !important;
    }
    .layout-list-wine .row1 .detail-willhidden {
        grid-column-start : 1 !important;
        grid-column-end : 13 !important;
    }
    .layout-list-wine .row3 .note {
        align-items: flex-start !important;
    }
    .layout-list-stone {
        padding: 0px 0 50px 0;
    }
    .layout-list-wine .row2 .image,
    .layout-list-wine .row3 .note,
    .layout-list-stone .image  {
        grid-row:1 !important;
        grid-column-start : 1 !important;
        grid-column-end : 6 !important;
    }
   
    .layout-list-wine .row2 .detail,
    .layout-list-wine .row3 .detail,
    .layout-list-stone .detail {
        grid-row:2 !important;
        grid-column-start : 1 !important;
        grid-column-end : 13 !important;
    }
    .layout-list-wine .row2 {
        height:fit-content !important;
    }
    .layout-list-stone .image {
        height:42vh !important;
    }
    .layout-list-stone .detail .top a {
        font-size: 1.5rem !important;
    }
    #detail_product .info-product {
        padding-top: 70px !important;
    }
    #detail_product .info-product h1 {
        font-size: 3.5rem!important;
    }
    #detail_product .info-product p {
        max-width: 100% !important;
    }
    #LIST_SLIDER_STONE_PRODUCTS ul.img_child {
        transform:unset !important;
        height:20vh !important;
        width:50% !important;
        top:unset !important;
        bottom:0 !important;
        left:0 !important;
    }
/* form conntact section */
.form-contact-section .content .input {
    grid-row:1 !important;
    grid-column-start : 1 !important;
    grid-column-end : 13 !important;
}
.form-contact-section .content .submit {
    grid-row:2 !important;
    grid-column-start : 1 !important;
    grid-column-end : 13 !important;
}
.form-contact-section .content .text {
    font-size:2rem !important;
}
    /* footer */
    .footer-content_1 .logo  {
        grid-row:1 !important;
    }
    .footer-content_1 .menu {
        grid-row:2 !important;
    }
    .footer-content_1 .info {
        grid-row:3 !important;
    }
    .footer-content_1 .logo,
    .footer-content_1 .menu,
    .footer-content_1 .info {
        grid-column-start : 1 !important;
        grid-column-end : 13 !important;
    }
    /* natural PAGE */

    #content_after-tittle_section .content .tag {
        margin-top:2rem;
        grid-row:1 !important;
        grid-column-start : 1 !important;
        grid-column-end : 10 !important;
    }
    #content_after-tittle_section .content .des{
        grid-row:2 !important;
        grid-column-start : 1 !important;
        grid-column-end : 13 !important;
    }
    /* title section  */
    .tittle_section .content h1 {
        font-size: 3rem !important;
    }
    /* hero section */
    .detail-hero--1 {
        display: none !important;
    }
    .detail-hero--2 {
        grid-column-start : 1 !important;
        grid-column-end : 8 !important;
    }
    .detail-hero--group-button {
        grid-column-start : 9 !important;
    }
    .hero-background div:nth-child(2) {
        background-size: auto  110% !important;
    }
    .detail-hero--2 h2 {
        font-size:1.4rem !important;
    }
    .hero-section .heading-hero h1 {
        font-size:4.2rem !important;
    }
    /*  background fixed */
    .for_section_stone_aboutus {
        background-size: auto  110% !important;
        background-position-x: 36% !important;
    }
    .footer-content_1 .logo img {
        width: calc(var(--col_width)* 6) !important;
    }
}