
.SLIDER_PRODUCTS {
    height:100vh;
}

.SLIDER_PRODUCTS ul,
.SLIDER_PRODUCTS ul li {
    width: 100%;
    height: 100%
}

.SLIDER_PRODUCTS ul {
    position: relative;
    overflow: hidden;
 
}

.SLIDER_PRODUCTS ul li {
    position: absolute;
    top: 0;
    left: -100%;
    background-size: cover;
    /* semon #f98686 */
    background-position: center;
    color: #fff;
    font-family: serif;
}

.SLIDER_PRODUCTS ul li:first-of-type {
    background-image: url("/hero-bg.jpg")
}

.SLIDER_PRODUCTS ul li:nth-of-type(2) {
    background-image: url("/hero-bg.png")
}

.SLIDER_PRODUCTS ul li:nth-of-type(3) {
    background-image: url("/list-wine.jpg")
}

.SLIDER_PRODUCTS ul li:nth-of-type(4) {
    background-image: url("/logo.png")
}

.SLIDER_PRODUCTS ul li:last-of-type {
    background-image: url("/wine-list.png")
}

.SLIDER_PRODUCTS .controll {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 44%;
    border-bottom: 3px solid #333;
    border-left: 3px solid #333;
    cursor: pointer;
    color: #333;
    z-index:9999;
}

.SLIDER_PRODUCTS .controll:first-of-type {
    transform: rotate(45deg);
    left: 20px
}

.SLIDER_PRODUCTS .controll:last-of-type {
    transform: rotate(225deg);
    right: 20px
}

.SLIDER_PRODUCTS .controll:hover,
.SLIDER_PRODUCTS .controll.active {
    border-color: #f98686
        /* rose */
}

.SLIDER_PRODUCTS ol {
    text-align: center;
    padding-top: 10px
}

.SLIDER_PRODUCTS ol li {
    display: inline-block;
    margin-right: 5px;

    width: 30px;
    height:30px;
    background:blue;
}

.SLIDER_PRODUCTS ol .fa {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    font-weight: normall
}

.SLIDER_PRODUCTS ol li:hover .fa:before,
.SLIDER_PRODUCTS ol li.active .fa:before {
    content: "\f111"
}
.SLIDER_PRODUCTS ol li i {
    pointer-events:none;
}
/* .SLIDER_PRODUCTS ul li.active {
    z-index: 999;
    left: 0
  } */
