.navbar {
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height:calc(var(--navbarHeight) + 0px); /* plus to 1rem to get effect background relative , must */
  
    justify-content: space-between;
    z-index:var(--navbarIndex);
}
.navbar-list-item {
    /* padding-top: calc(var(--grid-margin-des)/2);
    padding-bottom: calc(var(--grid-margin-des)/2); */
    height:100%;
    
}
.navbar .navbar-bg-light {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(rgb(255, 252, 245) 0%, rgba(255, 252, 245, 0.99) 8.1%, rgba(255, 252, 245, 0.953) 15.5%, rgba(255, 252, 245, 0.894) 22.5%, rgba(255, 252, 245, 0.824) 29%, rgba(255, 252, 245, 0.74) 35.3%, rgba(255, 252, 245, 0.647) 41.2%, rgba(255, 252, 245, 0.55) 47.1%, rgba(255, 252, 245, 0.45) 52.9%, rgba(255, 252, 245, 0.353) 58.8%, rgba(255, 252, 245, 0.26) 64.7%, rgba(255, 252, 245, 0.176) 71%, rgba(255, 252, 245, 0.106) 77.5%, rgba(255, 252, 245, 0.047) 84.5%, rgba(255, 252, 245, 0.01) 91.9%, rgba(255, 252, 245, 0) 100%);
}
.navbar .navbar-bg-dark {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity:.9;
    background:var(--backgroundNavbarSrc);
    /* background: linear-gradient(180deg, rgba(37,35,36,1) var(--blackPercent_ofNavbar), rgba(255,252,245,0) 100%); */
}
.navbar .logo {
    grid-column-start: 1;
    grid-column-end: 3;

    display: flex;
    align-items: center;
    position: relative;
}
.navbar .logo a {
    height: fit-content;
    width: fit-content;
}
.navbar .logo a img {
    width: 142px;
    height: auto;
    object-fit: contain;
}
.navbar .menuItem1 {
    grid-column-start: 4;
    grid-column-end: 7;

    
}
.navbar .menuItem2 {
    grid-column-start: 12;
    grid-column-end: 13;
    justify-content: flex-end;
}
.navbar .menuItem1, .navbar .menuItem2 {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}

.navbar .menuItem1 a {
    position: relative;

    margin-right:var(--fz2);
    align-self: center;
   
}
.navbar .menuItem2 a {
    position: relative;
    align-self: center;
}
.navbar .menuItem1 a, .navbar .menuItem2 a {

    position: relative;
    font-size:1.2rem;

    color:var(--white);
}



/* MOBI */

.navbar_mobi {
    display: none;
    z-index: 9997;
    height: 100vh;
    width: 100%;
}
.navbar_mobi_view  {
    display: none;
    z-index: 9998;
    height:100vh;
    flex-direction: column;
    justify-content: center;
}
.navbar_mobi_view .btn {
    display: flex;
    flex-direction: column;
    padding-left:var(--grid-margin-des);
}
.active_view_navmobi {
    display: flex !important;
}
.active_icon_navbar {
    transform: rotate(90deg);
    transform-origin: center;
    transition: 500ms ease-in;
}

.navbar_mobi_controls,.navbar_mobi_view {
   
    width: 100%;
    position: fixed;
    top:0;
    left:0;  
    background: var(--black);
}

.navbar_mobi_controls {
    z-index: 9999;
    display: none;
    width: 100%;
    height:10vh;
    justify-content: space-between;
    align-items: center;
    padding: var(--grid-margin-des);
    background: var(--backgroundNavbarSrc);
  
   
}
.navbar_mobi_controls  .logo_navbar {
    width: 25vw;
    height:7vh;
    display: flex;
    align-items: center;
}
.navbar_mobi_controls .btn_navbar {
    position: relative;
    display: block;
    width: 42px;
    height: 42px;
    color: white;
    text-align: center;
    transition: 300ms ease-out;
}
.navbar_mobi_controls .btn_navbar > span {
    width: fit-content;
    height: fit-content;
}
.navbar_mobi_controls  .logo_navbar img {
    height: auto;
    width: inherit;
    object-fit: cover;
}

.navbar_mobi_view a {
    color: var(--white) !important;
    font-size: 10vw;
    margin-bottom:1vh;
}