.products_list_stone_grid {
    display: grid;
    width:100%;
    position:relative;
    grid-template-rows: repeat(5,auto);
  
}
.products_list_stone {
    z-index:5;
    position:relative;
}
.row_products {

    margin-bottom: 100px;
}
.products_list_stone .row1 {
    grid-row:1;
}
.products_list_stone .row2 {
    grid-row:2;
}
.products_list_stone .row3 {
    grid-row:3;
}
.products_list_stone .row4 {
    grid-row:4;
}
.products_list_stone .row5 {
    grid-row:5;
}
.products_list_stone .row6 {
    grid-row:6;
}
.products_list_stone .row7 {
    grid-row:7;
}

.item_stone_logo {
    grid-column-start: 4;
    grid-column-end: 7;

    display:flex;
    align-items: center;
    background:var(--white);
   overflow:hidden;

    width:100%;
    aspect-ratio: 1 / 1;
}

.info_stone {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    left: -60px;
}
.info_stone .bot a {
    font-style:italic;
    text-decoration: underline;
}
.info_stone .bot {
    margin-top:10%;
    display: flex;
    max-width:86%;
}
.item_stone_info {
    grid-column-start: 8;
    grid-column-end: 13;
}
.item_stone_info .tag {
    display:flex;
    align-items: center;
    margin:1rem 0 .5rem 0;
}
.item_stone_info .tag > p {
    padding-left: .5rem;

}
.item_stone_info h2 {
    font-size: 4.2vw;
}
.item_stone_info p {
    max-width:64%;
  
}
.row_products > div {
    height: 100% !important;
}
@media all and (max-width: 1440px) { 
    .item_stone_logo {
        aspect-ratio: unset !important;
        height:100% !important;
    }
 }
 @media all and (max-width: 1024px) { 
    .item_stone_logo {
       
        grid-column-start: 2 !important;
    }
    .info_stone {
        left : 0 !important;
    }
  }
  @media all and (max-width: 868px) {
    .item_stone_logo {
        grid-column-start: 1 !important;
        grid-column-end: 6 !important;
    }
    .item_stone_info{
        grid-column-start: 7 !important;
        grid-column-end: 13 !important;
    }
    .row_products {
        min-height:30vh !important;
    }
  
    .item_stone_logo {
        height:100% !important;
    }
  }

  @media all and (max-width: 568px) {
    .row_products > div {
        grid-template-rows: repeat(2,auto) !important;
    }
    .item_stone_logo {
        grid-row:1 !important;
        grid-column-start: 1 !important;
        grid-column-end: 13 !important;
        aspect-ratio: 1/.64 !important;
    }
    .item_stone_info {
        grid-row:2 !important;
        grid-column-start: 1 !important;
        grid-column-end: 13 !important;
    }
    .item_stone_info h2 {
        font-size: 3rem !important;
    }
    .info_stone .bot {
        max-width: 100% !important;
    }
    .info_stone .top {
        margin-top:25px !important;
    }
    .item_stone_info p {
        max-width:86% !important;
      
    }
  }