.background_fixed_component {
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
    user-select: none;
}
.for_banner_projects_page {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: url('/construction/3.jpg');
    background-size: 100%;
    background-position-y: 50%;
    opacity: 0;
    will-change: opacity;
}
.for_section_wine_aboutus {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

    background: url('/wine-list.png');
    background-size: auto 105%;
    background-position-x: 40%;
    background-position-y: 40%;
    opacity: 0;
    will-change: opacity;
}
.for_banner_natural_stone {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: url('/stone/banner-stone.webp');
    background-size: 100%;
    background-position-y: 0%;
    opacity: 0;
    will-change: opacity;
}
.for_section_stone_aboutus {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: url('/stone/banner-stone.webp');
    background-size: 100%;
    background-position-y: 0%;
    opacity: 0;
    will-change: opacity;
}
.for_section_form_contact_component {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: url('/bg1.png');
    background-repeat: no-repeat;
    background-size: 200% 130%;
    filter: brightness(0.65);
    background-position-x: 60%;
    background-position-y : 0%;
    opacity: 0;
    will-change: opacity;
}


.activeBackgroundBannerListStone {
    background: url('/stone/banner-stone.webp');
    height: 30vh !important;
    background-size:100% auto ;
}
.activeBackgroundBannerListWine {
    background: url('/wine-list.png');
    height: 30vh !important;
    background-position-x: 50%;
    background-size: 170% auto;
}
.activeBackgroundBannerListFormContact {
    background: url('/bg1.png');
    background-size: auto 100%;
}


@media all and (max-width: 1025px)  {
    .for_banner_natural_stone {
        background-size: auto 100% !important;
        background-position-x:42% !important;
    }
    .for_banner_projects_page {
        background-size: auto 100% !important;
        background-position-x:50% !important;
    }
    .tittle_section {
        height:72vh !important;
    }
}